/* Contact.css */

.contact form {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 2rem 3rem;
  background-color: rgba(51, 51, 51, 0.2);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  text-align: center;
  color: #fff;
}

.contact .heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #0d0d0d;
  text-transform: uppercase;
  font-weight: bold;
}

.contact .heading span {
  color: #525050;
}

.contact form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem; 
  margin-bottom: 1.5rem;
}

.contact form .inputBox input,
.contact form textarea {
  width: 90%;
  padding: auto;
  background:  rgba(51, 51, 51 ,1.2);
  border-radius: 1rem;
  padding: 1.2rem;
  font-size: 0.8rem;
  color: #ffffff;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder {
  color: #ffffff;
  text-transform: none;
}

.contact form textarea {
  resize: vertical;
  min-height: 10rem;
  width: calc(50% rem);
}

.btn {
  background-color: #383535;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  width: 50%;
}

.btn:hover {
  background-color: #000;
}